In [1]:
# 引進相關套件
import requests
from io import StringIO
import pandas as pd
import numpy as np

In [2]:
# 資料日期
date1 = '20210720'
stockNo = '2330'
# 網址
url= 'https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=csv&date=20210701&stockNo=2327'.format(date1, stockNo)

In [3]:
# 送出要求，並取得回應資料
response = requests.post(url)

In [4]:
clean_data=[]
for row in response.text.split('\n'):
    fields=row.split('",')
    if len(fields) == 10 and row[0] != '=':
        clean_data.append(row.replace(' ',''))

csv_data = "\n".join(clean_data)
print(csv_data)

"日期","成交股數","成交金額","開盤價","最高價","最低價","收盤價","漲跌價差","成交筆數",
"110/07/01","11,013,703","6,229,682,016","573.00","578.00","556.00","557.00","X0.00","11,146",
"110/07/02","4,274,819","2,367,941,193","560.00","561.00","545.00","556.00","-1.00","4,900",
"110/07/05","7,649,064","4,363,602,007","567.00","575.00","564.00","571.00","+15.00","7,904",
"110/07/06","13,287,003","7,821,063,948","579.00","599.00","578.00","597.00","+26.00","14,566",
"110/07/07","13,783,192","8,347,286,316","597.00","615.00","594.00","603.00","+6.00","14,684",
"110/07/08","7,808,490","4,666,094,807","605.00","610.00","588.00","590.00","-13.00","8,813",
"110/07/09","4,900,184","2,875,463,914","583.00","595.00","581.00","584.00","-6.00","5,942",
"110/07/12","3,816,112","2,249,709,841","594.00","596.00","585.00","586.00","+2.00","4,051",
"110/07/13","4,193,971","2,471,442,578","595.00","598.00","580.00","581.00","-5.00","4,805",
"110/07/14","3,227,097","1,879,124,931","587.00","588.00","576.00","583.00","+2.00","3,850",
"110/07/15","3,829,502","2,248,241,365","587.00","595.00","582.00","586.00","+3.00","3,845",
"110/07/16","3,187,440","1,843,681,038","579.00","582.00","575.00","578.00","-8.00","4,211",
"110/07/19","5,098,299","2,938,259,049","575.00","587.00","566.00","583.00","+5.00","5,722",
"110/07/20","4,357,647","2,487,141,638","578.00","580.00","565.00","568.00","-15.00","5,490",
"110/07/21","8,080,588","4,706,037,985","578.00","592.00","572.00","588.00","+20.00","8,300",
"110/07/22","7,087,325","4,232,823,802","598.00","604.00","591.00","591.00","+3.00","7,775",
"110/07/23","4,107,660","2,440,977,899","594.00","603.00","586.00","589.00","-2.00","4,396",
"110/07/26","7,524,346","4,458,291,251","595.00","600.00","580.00","600.00","+11.00","6,780",
"110/07/27","9,640,102","5,698,810,349","601.00","605.00","581.00","581.00","-19.00","9,561",
"110/07/28","7,246,457","4,124,712,070","580.00","590.00","555.00","565.00","-16.00","8,315",
"110/07/29","2,755,264","1,568,934,048","574.00","575.00","563.00","571.00","+6.00","3,153",
"110/07/30","4,375,186","2,476,179,781","568.00","575.00","560.00","560.00","-11.00","5,247",

In [5]:
df = pd.read_csv(StringIO(csv_data))
df.head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,Unnamed: 9
0,110/07/01,"11,013,703","6,229,682,016",573.0,578.0,556.0,557.0,X0.00,"11,146",NaN
1,110/07/02,"4,274,819","2,367,941,193",560.0,561.0,545.0,556.0,-1.00,"4,900",NaN
2,110/07/05,"7,649,064","4,363,602,007",567.0,575.0,564.0,571.0,+15.00,"7,904",NaN
3,110/07/06,"13,287,003","7,821,063,948",579.0,599.0,578.0,597.0,+26.00,"14,566",NaN
4,110/07/07,"13,783,192","8,347,286,316",597.0,615.0,594.0,603.0,+6.00,"14,684",NaN

In [6]:
# method 1：lambda
df['日期'] = df['日期'].apply(lambda x:str(int(x[:3])+1911)+'-'+x[4:6]+'-'+x[-2:])
df.head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,Unnamed: 9
0,2021-07-01,"11,013,703","6,229,682,016",573.0,578.0,556.0,557.0,X0.00,"11,146",NaN
1,2021-07-02,"4,274,819","2,367,941,193",560.0,561.0,545.0,556.0,-1.00,"4,900",NaN
2,2021-07-05,"7,649,064","4,363,602,007",567.0,575.0,564.0,571.0,+15.00,"7,904",NaN
3,2021-07-06,"13,287,003","7,821,063,948",579.0,599.0,578.0,597.0,+26.00,"14,566",NaN
4,2021-07-07,"13,783,192","8,347,286,316",597.0,615.0,594.0,603.0,+6.00,"14,684",NaN

In [7]:
# method 2：function
def convert_date(x):
    year = int(x[:3])+1911
    month = x[4:6]
    day = x[-2:]
    return str(year) +'-'+month +'-'+day

df['日期'] = df['日期'].apply(convert_date)
df.head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,Unnamed: 9
0,2113--0-01,"11,013,703","6,229,682,016",573.0,578.0,556.0,557.0,X0.00,"11,146",NaN
1,2113--0-02,"4,274,819","2,367,941,193",560.0,561.0,545.0,556.0,-1.00,"4,900",NaN
2,2113--0-05,"7,649,064","4,363,602,007",567.0,575.0,564.0,571.0,+15.00,"7,904",NaN
3,2113--0-06,"13,287,003","7,821,063,948",579.0,599.0,578.0,597.0,+26.00,"14,566",NaN
4,2113--0-07,"13,783,192","8,347,286,316",597.0,615.0,594.0,603.0,+6.00,"14,684",NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   日期          22 non-null     object
 1   成交股數        22 non-null     object
 2   成交金額        22 non-null     object
 3   開盤價         22 non-null     float64
 4   最高價         22 non-null     float64
 5   最低價         22 non-null     float64
 6   收盤價         22 non-null     float64
 7   漲跌價差        22 non-null     object
 8   成交筆數        22 non-null     object
 9   Unnamed: 9  0 non-null      float64
dtypes: float64(5), object(5)
memory usage: 1.8+ KB

In [9]:
df['日期'] = pd.to_datetime(df['日期'])
df.head()

ParserError: month must be in 1..12: 2113--0-01

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   日期          14 non-null     datetime64[ns]
 1   成交股數        14 non-null     object
 2   成交金額        14 non-null     object
 3   開盤價         14 non-null     float64
 4   最高價         14 non-null     float64
 5   最低價         14 non-null     float64
 6   收盤價         14 non-null     float64
 7   漲跌價差        14 non-null     float64
 8   成交筆數        14 non-null     object
 9   Unnamed: 9  0 non-null      float64
dtypes: datetime64[ns](1), float64(6), object(3)
memory usage: 1.2+ KB

In [7]:
# 刪除無用的欄位
df.drop(df.columns[-1], axis=1, inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 9 columns):
日期      23 non-null object
成交股數    23 non-null object
成交金額    23 non-null object
開盤價     23 non-null float64
最高價     23 non-null float64
最低價     23 non-null float64
收盤價     23 non-null float64
漲跌價差    23 non-null float64
成交筆數    23 non-null object
dtypes: float64(5), object(4)
memory usage: 1.7+ KB

In [9]:
# 將以下欄位轉為數值
numeric_columns=['成交股數','成交金額','成交筆數']
for i in numeric_columns:
    df[i]=df[i].map(lambda x:x.replace(',', '').replace('--', ''))
    df[i]=pd.to_numeric(df[i])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 9 columns):
日期      23 non-null object
成交股數    23 non-null int64
成交金額    23 non-null int64
開盤價     23 non-null float64
最高價     23 non-null float64
最低價     23 non-null float64
收盤價     23 non-null float64
漲跌價差    23 non-null float64
成交筆數    23 non-null int64
dtypes: float64(5), int64(3), object(1)
memory usage: 1.7+ KB

In [10]:
df.to_csv('個股日成交資訊.csv', index=False)

In [11]:
df.to_excel('個股日成交資訊.xlsx', index=False)