In [1]:
# 引進相關套件
import requests
from io import StringIO
import pandas as pd
import numpy as np

In [2]:
# 資料日期
date1 = '20210720'
stockNo = '2330'
# 網址
url= 'https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=csv&date={}&stockNo={}'.format(date1, stockNo)

In [3]:
response = requests.post(url)

In [4]:
clean_data=[]
for row in response.text.split('\n'):
    fields=row.split('",')
    if len(fields) == 10 and row[0] != '=':
        clean_data.append(row.replace(' ',''))

csv_data = "\n".join(clean_data)
print(csv_data)

"日期","成交股數","成交金額","開盤價","最高價","最低價","收盤價","漲跌價差","成交筆數",
"110/07/01","18,719,706","11,116,195,742","596.00","597.00","591.00","593.00","-2.00","20,565",
"110/07/02","19,633,718","11,562,140,245","590.00","593.00","587.00","588.00","-5.00","24,056",
"110/07/05","30,274,105","17,957,255,325","588.00","597.00","588.00","591.00","+3.00","21,836",
"110/07/06","13,830,591","8,185,167,307","595.00","596.00","589.00","592.00","+1.00","15,751",
"110/07/07","17,329,148","10,250,342,169","590.00","594.00","588.00","594.00","+2.00","18,023",
"110/07/08","21,596,183","12,733,045,117","595.00","595.00","588.00","588.00","-6.00","23,352",
"110/07/09","30,602,492","17,821,338,170","582.00","585.00","580.00","584.00","-4.00","51,232",
"110/07/12","33,011,596","19,612,592,644","595.00","597.00","590.00","593.00","+9.00","28,636",
"110/07/13","54,894,335","33,158,730,436","600.00","608.00","599.00","607.00","+14.00","60,121",
"110/07/14","39,670,241","24,276,719,505","613.00","615.00","608.00","613.00","+6.00","43,173",
"110/07/15","23,057,868","14,117,908,308","613.00","614.00","608.00","614.00","+1.00","29,913",
"110/07/16","61,882,128","36,562,482,701","591.00","595.00","588.00","589.00","-25.00","86,192",
"110/07/19","43,248,966","25,135,531,384","583.00","584.00","578.00","582.00","-7.00","86,753",
"110/07/20","16,352,855","9,502,338,666","579.00","584.00","579.00","581.00","-1.00","27,956",
"110/07/21","26,476,215","15,440,430,690","586.00","586.00","580.00","585.00","+4.00","32,757",
"110/07/22","27,075,950","16,014,166,571","589.00","594.00","587.00","591.00","+6.00","23,365",
"110/07/23","15,705,191","9,206,201,715","592.00","592.00","583.00","585.00","-6.00","23,635",
"110/07/26","22,442,745","13,089,591,086","591.00","591.00","580.00","580.00","-5.00","37,826",
"110/07/27","18,925,325","10,997,959,654","581.00","584.00","580.00","580.00","0.00","20,197",
"110/07/28","39,744,486","22,884,618,824","576.00","579.00","573.00","579.00","-1.00","75,078",
"110/07/29","25,014,772","14,525,643,464","585.00","585.00","577.00","583.00","+4.00","26,868",
"110/07/30","26,141,286","15,170,421,873","581.00","582.00","578.00","580.00","-3.00","16,353",

In [5]:
df = pd.read_csv(StringIO(csv_data))
df.head(100)

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,Unnamed: 9
0,110/07/01,"18,719,706","11,116,195,742",596.0,597.0,591.0,593.0,-2.0,"20,565",NaN
1,110/07/02,"19,633,718","11,562,140,245",590.0,593.0,587.0,588.0,-5.0,"24,056",NaN
2,110/07/05,"30,274,105","17,957,255,325",588.0,597.0,588.0,591.0,3.0,"21,836",NaN
3,110/07/06,"13,830,591","8,185,167,307",595.0,596.0,589.0,592.0,1.0,"15,751",NaN
4,110/07/07,"17,329,148","10,250,342,169",590.0,594.0,588.0,594.0,2.0,"18,023",NaN
5,110/07/08,"21,596,183","12,733,045,117",595.0,595.0,588.0,588.0,-6.0,"23,352",NaN
6,110/07/09,"30,602,492","17,821,338,170",582.0,585.0,580.0,584.0,-4.0,"51,232",NaN
7,110/07/12,"33,011,596","19,612,592,644",595.0,597.0,590.0,593.0,9.0,"28,636",NaN
8,110/07/13,"54,894,335","33,158,730,436",600.0,608.0,599.0,607.0,14.0,"60,121",NaN
9,110/07/14,"39,670,241","24,276,719,505",613.0,615.0,608.0,613.0,6.0,"43,173",NaN
10,110/07/15,"23,057,868","14,117,908,308",613.0,614.0,608.0,614.0,1.0,"29,913",NaN
11,110/07/16,"61,882,128","36,562,482,701",591.0,595.0,588.0,589.0,-25.0,"86,192",NaN
12,110/07/19,"43,248,966","25,135,531,384",583.0,584.0,578.0,582.0,-7.0,"86,753",NaN
13,110/07/20,"16,352,855","9,502,338,666",579.0,584.0,579.0,581.0,-1.0,"27,956",NaN
14,110/07/21,"26,476,215","15,440,430,690",586.0,586.0,580.0,585.0,4.0,"32,757",NaN
15,110/07/22,"27,075,950","16,014,166,571",589.0,594.0,587.0,591.0,6.0,"23,365",NaN
16,110/07/23,"15,705,191","9,206,201,715",592.0,592.0,583.0,585.0,-6.0,"23,635",NaN
17,110/07/26,"22,442,745","13,089,591,086",591.0,591.0,580.0,580.0,-5.0,"37,826",NaN
18,110/07/27,"18,925,325","10,997,959,654",581.0,584.0,580.0,580.0,0.0,"20,197",NaN
19,110/07/28,"39,744,486","22,884,618,824",576.0,579.0,573.0,579.0,-1.0,"75,078",NaN
20,110/07/29,"25,014,772","14,525,643,464",585.0,585.0,577.0,583.0,4.0,"26,868",NaN
21,110/07/30,"26,141,286","15,170,421,873",581.0,582.0,578.0,580.0,-3.0,"16,353",NaN

In [6]:
df['日期'] = df['日期'].apply(lambda x:str(int(x[:3])+1911)+'-'+x[4:6]+'-'+x[-2:])
df.head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,Unnamed: 9
0,2021-07-01,"18,719,706","11,116,195,742",596.0,597.0,591.0,593.0,-2.0,"20,565",NaN
1,2021-07-02,"19,633,718","11,562,140,245",590.0,593.0,587.0,588.0,-5.0,"24,056",NaN
2,2021-07-05,"30,274,105","17,957,255,325",588.0,597.0,588.0,591.0,3.0,"21,836",NaN
3,2021-07-06,"13,830,591","8,185,167,307",595.0,596.0,589.0,592.0,1.0,"15,751",NaN
4,2021-07-07,"17,329,148","10,250,342,169",590.0,594.0,588.0,594.0,2.0,"18,023",NaN

In [7]:
from statsmodels.tsa.seasonal import seasonal_decompose
from dateutil.parser import parse
import pandas as pd
import matplotlib.pyplot as plt

# Import Data 時間序列
df = pd.read_csv((StringIO(csv_data))
dates = pd.日期([parse(d).strftime('%Y-%m-01') for date in df['date']])
df.set_index(dates, inplace=True)

# Decompose 
result = seasonal_decompose(df['value'], model='multiplicative')

# Plot
plt.rcParams.update({'figure.figsize': (10,10)})
result.plot().suptitle('Time Series Decomposition of Air Passengers')
plt.show()

SyntaxError: invalid syntax (<ipython-input-7-fb4fd14d744f>, line 8)